annotated-types==0.7.0
-e git+https://github.com/Stoobs/audiblez-chatterbox.git@4b0ca906e26fa35ae01d3fc2a20a92df359a826d#egg=audiblez
audioread==3.0.1
beautifulsoup4==4.13.4
blis==1.3.0
bs4==0.0.2
catalogue==2.0.10
certifi==2025.7.9
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
chatterbox-tts @ git+https://github.com/resemble-ai/chatterbox.git@eb90621fa748f341a5b768aed0c0c12fc561894b
click==8.2.1
cloudpathlib==0.21.1
confection==0.1.5
conformer==0.3.2
cymem==2.0.11
decorator==5.2.1
diffusers==0.29.0
distlib==0.3.9
EbookLib==0.18
einops==0.8.1
filelock==3.18.0
fsspec==2025.5.1
hf-xet==1.1.5
huggingface-hub==0.33.4
identify==2.6.12
idna==3.10
importlib_metadata==8.7.0
Jinja2==3.1.6
joblib==1.5.1
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
lxml==6.0.0
marisa-trie==1.2.1
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.1
murmurhash==1.0.13
networkx==3.5
nodeenv==1.9.1
numba==0.61.2
numpy==2.2.6
onnx==1.18.0
packaging==25.0
pick==2.4.0
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
pre_commit==4.2.0
preshed==3.0.10
protobuf==6.31.1
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.4
resemble-perth==1.0.1
rich==14.0.0
s3tokenizer==0.2.0
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
shellingham==1.5.4
six==1.17.0
smart_open==7.3.0.post1
soundfile==0.13.1
soupsieve==2.7
soxr==0.5.0.post1
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
sympy==1.14.0
tabulate==0.9.0
thinc==8.3.6
threadpoolctl==3.6.0
tokenizers==0.20.3
torch==2.9.0.dev20250711
torchaudio==2.8.0.dev20250711
torchvision==0.24.0.dev20250711
tqdm==4.67.1
transformers==4.46.3
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
urllib3==2.5.0
virtualenv==20.31.2
wasabi==1.1.3
weasel==0.4.1
webcolors==24.11.1
wrapt==1.17.2
wxPython==4.2.3
wxwidgets==1.0.5
xx_ent_wiki_sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.8.0/xx_ent_wiki_sm-3.8.0-py3-none-any.whl#sha256=6f3c4b853852ea9e9d2dc76cc950dddb10a7e4c42d813308caefe6c5e8be2f0a
zipp==3.23.0
